.options {
  display: flex;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 0.5rem;
  width: 30rem;
  height: 30rem;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.summon-container {
  width: 30rem;
  border: 1px solid black;
  background-color: #aaa;
  margin: 1rem;
  padding: 0.5rem;
}

.root {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  text-shadow: 1px 1px 2px black;
  padding: 1rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.text {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

button {
  margin-right: 1rem;
}
