.root {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.options {
  display: flex;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 0.5rem;
  flex-flow: row wrap;
}

.summon-log {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.summoned-units {
  color: white;
  text-shadow: 1px 1px 2px black;
  overflow-y: auto;
  height: 20rem;
}

.link {
  text-shadow: 1px 1px 2px black;
  padding: 1rem;
  font-size: 1.5rem;
  list-style-type: none;
}

.text {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

button {
  margin-right: 1rem;
}
