.root {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid gray;
  width: 7.5rem;
  height: 10rem;
  align-items: center;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: row;
}

.text {
  text-align: left;
  width: 100%;
}

.img {
  width: 5rem;
}