.root {
  margin: 1rem;
  display: inline-block;
}

.container {
  position: relative;
  width: 5.5rem;
}

.image-banner {
  position: absolute;
  left: 0;
  object-fit: cover;
  top: 0;
  z-index: 100;
}

.image-banner-background {
  position: absolute;
  left: 0;
  object-fit: cover;
  top: 0;
  width: 100%;
  transform: translateY(2%);
}

.image-pixel {
  position: absolute;
  transform: translate(-47.5%, -75%);
  width: 8rem;
  z-index: 100;
}

.class-symbol {
  position: absolute;
  width: 2rem;
  left: 35%;
  top: 0;
  z-index: 100;
}

.name {
  position: absolute;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: .8rem;
  padding: 0.25rem 0;
  word-wrap: normal;
  text-align: center;
  width: 99%;
  z-index: 1000;
  text-overflow: ellipsis;
  color: black;
  background-color: white;
  border: 1px solid black;
  bottom: -12.5%;
}

.image-2d-container {
  overflow: hidden;
}

.image-2d {
  position: relative;
  width: 225%;
  bottom: 60%;
  left: 0%;
  transform: translate(-30%, 10%);
}