<div class="root">
  <div class="container">
    <div class="image-2d-container">
      <img class="image-banner-background" src="{{getBannerRarityBackgroundImage()}}">
    </div>
    <img class="image-banner" src="{{getBannerRarityImage()}}">
    <img class="class-symbol" src="{{getClassSymbol()}}">
    <div class="image-2d-container">
      <img class="image-2d" src="{{imageUrl}}"> 
    </div>
    <img class="image-pixel" src="{{spriteUrl}}"> 
    <p class="name"> {{ characterName }} </p> 
  </div>
</div>
