.options {
  display: flex;
}

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link {
  text-shadow: 1px 1px 2px black;
  padding: 1rem;
  font-size: 1.5rem;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}
