<div class="root" *ngIf="activeCharacter">
  <img class="background" src="/assets/sword_of_convallaria_tavern_background.jpg" />
  <div class="title">
    <h1> {{ activeCharacter.name }} </h1>
  </div>
  <div class="main-content">
    <img class="img" src="/assets/{{activeCharacter.name | lowercase }}_details.png"> 
    <div class="tables">
      <div class="stats-table">
        <mat-table *ngIf="primaryTableStats" [dataSource]="primaryTableStats">
          <!-- Key Column -->
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let stats"> {{stats.key}} </td>
          </ng-container>
      
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let stats"> {{stats.value}} </td>
          </ng-container>
      
          <tr mat-row *matRowDef="let row; columns: tableColumns;" class="table-row"></tr>
        </mat-table>
      </div>
      <div class="stats-table">
        <mat-table *ngIf="secondaryTableStats" [dataSource]="secondaryTableStats">
          <!-- Key Column -->
          <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let stats"> {{stats.key}} </td>
          </ng-container>
      
          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let stats"> {{stats.value}} </td>
          </ng-container>
      
          <tr mat-row *matRowDef="let row; columns: tableColumns;" class="table-row"></tr>
        </mat-table>
      </div>
    </div>
  </div>
</div>
<div class="root" *ngIf="!activeCharacter"> 
  <h1> Character not found... </h1> 
</div>
